<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/gt.js"></script>
    <title>人机验证</title>
</head>
<body>
    <input class="inp" id="gt" type="text" style="display:none;">
    <input class="inp" id="challenge" type="text" style="display:none;">

    <div id="captcha">
        <div id="text">请先生成</div>
        <div id="wait" class="show">
            <div class="loading">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
            </div>
        </div>
    </div>

    <div>
        <label for="validate">validate: </label>
        <input class="inp" id="validate" type="text" readonly="readonly">
    </div>
    <br>

    <div>
        <label for="seccode">seccode: </label>
        <input class="inp" id="seccode" type="text" readonly="readonly">
    </div>
    <br>

    <script src="/static/js/index.js"></script>
</body>
</html>
